<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login to your bank account</title>
</head>
<body>
    <form th:action="@{/register}" method="post">
        <span><h2>Register to the bank system</h2></span>
        <input type="text" name="firstName" placeholder="First name"><br>
        <input type="text" name="lastName" placeholder="Last name"><br>
        <input type="text" name="name" placeholder="Username"><br>
        <input type="password" name="pass" placeholder="Password"><br>
        <span th:value="@{errorMessage}"/><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>