<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form th:action="@{/transfermoney}" method="post" th:object="${transferDTO}">
            <select name="consumerCardNumber" th:each="card :${cards}">
                <option th:value="${card.getCardNumber()}">[[${card.getCardNumber()}]] - [[${card.getMoneyCount()}]]UAH</option>
            </select><br>
            <input type="text" placeholder="Card number" name="transferCardNumber"><br>
            <input type="text" placeholder="Value to send" name="moneyCountToTransfer"><span>UAH</span><br>
            <input type="submit" value="Send"/>
        </form>
        <label th:text="${errorMessage}"></label>
    </div>
</body>
</html>